@import "../../../../@theme/styles/themes";

@include nb-install-component() {
  nb-card-body {
    .echart {
      height: 700px;
    }
    ::ng-deep .echart {
      height: 100%;
      width: 100%;
    }
  }
}
