@import "../../@theme/styles/themes";

@include nb-install-component() {
  .action-buttons-container {
    display: flex;
    justify-content: center;
    button:nth-child(1) {
      margin-right: 20px;
    }
  }
}
