@import "../../../../@theme/styles/themes";

@include nb-install-component() {
  nb-card {
    min-width: 500px;
    nb-card-header {
      text-align: center;
    }
    nb-card-body {
      h5 {
        margin-bottom: 20px;
        text-align: center;
      }
      nb-select {
        display: block;
        margin: auto;
        max-width: 300px;
      }
    }
    nb-card-footer {
      display: flex;
      justify-content: center;
    }
  }
  .cancel {
    margin-right: 1rem;
  }
}
