@import "../../@theme/styles/themes";

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
    nb-card-body {
      min-height: 50vh;
    }
  }
  nb-icon {
    &:hover {
      svg {
        fill: red;
      }
    }
  }
  table {
    tbody {
      tr {
        td {
          a {
            span {
              font-size: 1rem !important;
            }
          }
        }
      }
    }
  }
  button {
    text-transform: unset;
  }
}
