<nb-card>
  <nb-card-header>
    <h5 class="text-center">Models</h5>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-6 offset-md-3 col-sm-12">
        <button
          nbButton
          status="info"
          class="mb-4"
          (click)="onAddClick($event)"
        >
          Add a new model
        </button>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Model Name</th>
              <th scope="col">Created By</th>
              <th scope="col">**</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cmodel of cmodels; let i = index">
              <th scope="row">
                <a routerLink="/cmodel/{{ cmodel.id }}">
                  <span class="badge">{{ i + 1 }}</span>
                </a>
              </th>
              <td>
                <a routerLink="/cmodel/{{ cmodel.id }}">
                  <span class="badge">{{ cmodel.name }}</span>
                </a>
              </td>
              <td>
                {{ cmodel.owner.first_name + " " + cmodel.owner.last_name }}
              </td>
              <td>
                <nb-icon
                  icon="close-outline"
                  (click)="onDeleteClick(cmodel.id)"
                ></nb-icon>
              </td>
            </tr>
          </tbody>
        </table>
        <nb-alert *ngIf="cmodels?.length === 0" outline="success" role="alert">
          <h5 class="d-block text-center">No model found</h5>
        </nb-alert>
      </div>
    </div>
  </nb-card-body>
</nb-card>
