<nb-card>
  <nb-card-header><h5>Create a new Cooling Model</h5></nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group row">
          <label
            for="modelName"
            class="label col-sm-3 col-lg-2 form-control-label"
          >
            Model Name
          </label>
          <div class="col-sm-9">
            <input
              type="text"
              nbInput
              fullWidth
              id="modelName"
              [(ngModel)]="cmodel.name"
              placeholder="Cooling model"
              (input)="onChangeModelName($event)"
            />
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <button nbButton status="info" class="mb-4" (click)="onClickSave()">
          Save
        </button>
      </div>
    </div>
    <nb-tabset>
      <nb-tab tabTitle="Dimensions and Losses">
        <app-dimensions-losses></app-dimensions-losses>
      </nb-tab>
      <nb-tab tabTitle="Cooling Flow">
        <app-cooling-flow></app-cooling-flow>
      </nb-tab>
      <nb-tab tabTitle="Heat Transfer Coefficients">
        <app-heat-transfer-coefficients></app-heat-transfer-coefficients>
      </nb-tab>
      <nb-tab tabTitle="Results">
        <app-result></app-result>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
