<nb-card>
  <nb-card-header>{{ title }}</nb-card-header>
  <nb-card-body>
    <h5>{{ rowData && rowData.face }}</h5>
    <!-- <nb-select placeholder="Select a set" selected="1">
      <nb-option value="1">AG</nb-option>
      <nb-option value="2">BG</nb-option>
      <nb-option value="3">BIP</nb-option>
      <nb-option value="4">TIP</nb-option>
    </nb-select> -->

    <!-- <nb-select #setSelect selected="1">
      <nb-option *ngFor="let set of setOptions; let i = index" value="i">
        {{ set }}
      </nb-option>
    </nb-select> -->

    <nb-select placeholder="Select a set" [(selected)]="selectedIndex">
      <nb-option value="1">AG</nb-option>
      <nb-option value="2">BG</nb-option>
      <nb-option value="3">BIP</nb-option>
      <nb-option value="4">TIP</nb-option>
    </nb-select>

    <!-- <nb-select
      placeholder="Select a set"
      [formControl]="selectedIndexFormControl"
    >
      <nb-option value="1">AG</nb-option>
      <nb-option value="2">BG</nb-option>
      <nb-option value="3">BIP</nb-option>
      <nb-option value="4">TIP</nb-option>
    </nb-select> -->
  </nb-card-body>
  <nb-card-footer>
    <button class="cancel" nbButton status="danger" (click)="cancel()">
      Cancel
    </button>
    <button nbButton status="success" (click)="save()">Save</button>
  </nb-card-footer>
</nb-card>
