<nb-card>
  <nb-card-header class="text-center"><h5>Dimension</h5></nb-card-header>
  <nb-tabset fullWidth>
    <nb-tab tabTitle="Housing">
      <ngx-params-table [data]="housingParams"></ngx-params-table>
    </nb-tab>
    <nb-tab tabTitle="Stator">
      <ngx-params-table [data]="statorParams"></ngx-params-table>
    </nb-tab>
    <nb-tab tabTitle="Rotor">
      <ngx-params-table [data]="rotorParams"></ngx-params-table>
    </nb-tab>
    <nb-tab tabTitle="Operation">
      <ngx-params-table [data]="operationParams"></ngx-params-table>
    </nb-tab>
    <nb-tab tabTitle="Winding">
      <ngx-params-table [data]="windingParams"></ngx-params-table>
    </nb-tab>
    <nb-tab tabTitle="Magnet">
      <ngx-params-table [data]="magnetParams"></ngx-params-table>
    </nb-tab>
  </nb-tabset>
</nb-card>
